<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
EMP_ADD
<form action="mem_add_act" method="post">
	<table border="1px">
		<tr>
			<td>번호</td>
			<td><input type="text" name="m_id" value=""></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" name="m_nm" value=""></td>
		</tr>
		<tr>
			<td>전화번호</td>
			<td><input type="text" name="tel"value=""></td>
		</tr>
		<tr>
			<td>생일</td>
			<td><input type="text" name="ymd" value=""></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="실행" />
			</td>
		</tr>
	</table>
</form>
</body>
</html>