<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_add(){
	location.href="mem_add";
}
</script>
</head>
<body>
<table border ="1px">
		<tr>
			<td>m_id</td>
			<td>m_nm</td>
			<td>tel</td>
			<td>ymd</td>
		</tr>
	{% for i in list%}		
		<tr>
			<td><a href="mem_detail?m_id={{i.m_id}}">{{i.m_id}}</a></td>
			<td>{{i.m_nm}}</td>
			<td>{{i.tel}}</td>
			<td>{{i.ymd}}</td>
		</tr>
	{% endfor %}<br/>
	</table>
<input type="button" value="추가" onclick="fn_add()"/>
</body>
</html>