<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function fn_edit(){
		var m_id = "{{mem.m_id}}";
		location.href = "mem_edit?m_id="+ m_id;
	}
	function fn_delete(){
		if(confirm("정말 삭제하시겠습니까")){
			var m_id = "{{mem.m_id}}";
			location.href = "mem_delete?m_id="+ m_id;
		}
	}
</script>
</head>
<body>
MEM_DETAIL
<table border="1px">
	<tr>
		<td>번호</td>
		<td>{{mem.m_id}}</td>
	</tr>
	<tr>
		<td>이름</td>
		<td>{{mem.m_nm}}</td>
	</tr>
	<tr>
		<td>전화번호</td>
		<td>{{mem.tel}}</td>
	</tr>
	<tr>
		<td>생일</td>
		<td>{{mem.ymd}}</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="수정" onclick="fn_edit()"/>
			<input type="button" value="삭제" onclick="fn_delete()"/>
		</td>
	</tr>
</table>
</body>
</html>