<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
function fn_list(){
	axios.post('/ajax_teacher_list', {
		t_id: '1',
		t_name: '2'
	})
	.then(function (response) {
		
		var list = response.data.list
		var html ="";
    	for(var i=0; i<list.length;i++){
    		var t = list[i];
       		html += `
       		<tr>
       			<td><a href="#" onclick="fn_one(${t.t_id});"> ${t.t_id}</a></td>
       			<td>${t.t_name}</td>
       			<td>${t.mobile}</td>
       			<td>${t.addr}</td>    			
       		</tr>
       		`;
    	}
   		document.getElementById("my_tbody").innerHTML = html;
	})	
}

function fn_one(t_id){
	axios.post('/ajax_teacher_one', {
		't_id': t_id,
	})
	.then(function (response) {

		var teacher = response.data.teacher;
    	var obj_t_id   = document.querySelector("#t_id");
    	var obj_t_name = document.querySelector("#t_name");
    	var obj_mobile    = document.querySelector("#mobile");
    	var obj_addr   = document.querySelector("#addr");
    	
    	obj_t_id.value   = teacher.t_id;
    	obj_t_name.value = teacher.t_name;
    	obj_mobile.value = teacher.mobile;
    	obj_addr.value= teacher.addr;
	})	
}

function fn_add(){
	var v_t_name	= document.querySelector("#t_name");
	var v_mobile	= document.querySelector("#mobile");
	var v_addr		= document.querySelector("#addr");
	
	axios.post('/ajax_teacher_add', {
		't_name'  : v_t_name.value,
		'mobile'  : v_mobile.value,
		'addr' : v_addr.value
	})
	.then(function (response) {
		if(response.data.cnt == 1){
           	alert("추가 성공했습니다.")
           	fn_list();
           	v_t_name.value = "";
           	v_mobile.value = "";
           	v_addr.value = "";
           } else{
           	alert("추가 실패했습니다.")
           }
	})	
}

function fn_edit(e_id){
	var v_t_id 	= document.querySelector("#t_id");
	var v_t_name= document.querySelector("#t_name");
	var v_mobile= document.querySelector("#mobile");
	var v_addr	= document.querySelector("#addr");
	
	axios.post('/ajax_teacher_edit', {
		't_id'	 : v_t_id.value,
		't_name' : v_t_name.value,
		'mobile'	 : v_mobile.value,
		'addr' 	 : v_addr.value
	})
	.then(function (response) {
		if(response.data.cnt == 1){
           	alert("수정 성공했습니다.")
           	fn_list();
           	v_t_id.value = " ";
           	v_t_name.value = " ";
           	v_mobile.value = " ";
           	v_addr.value = " ";
           } else{
           	alert("수정 실패했습니다.")
           }
	})	
}

function fn_delete(){
	var v_t_id 	= document.querySelector("#t_id");
	var v_t_name= document.querySelector("#t_name");
	var v_mobile= document.querySelector("#mobile");
	var v_addr	= document.querySelector("#addr");
	
	if(confirm("한번 지워진 데이터는 복구불가합니다.\n그래도 삭제하시겠습니까?")){
		axios.post('/ajax_teacher_delete', {
			't_id'	 : v_t_id.value,
			't_name' : v_t_name.value,
			'mobile'	 : v_mobile.value,
			'addr' 	 : v_addr.value
		})
		.then(function (response) {
			if(response.data.cnt == 1){
	           	alert("삭제 성공했습니다.")
	           	fn_list();
	           	v_t_id.value = " ";
	           	v_t_name.value = " ";
	           	v_mobile.value = " ";
	           	v_addr.value = " ";
	           } else{
	           	alert("삭제 실패했습니다.")
	           }
		})	
	}
}
</script>
</head>
<body onload="fn_list()">
<table border="1px">
	<thead>
		<tr>
			<td>사번</td>
			<td>이름</td>
			<td>전화</td>
			<td>주소</td>
		</tr>
	</thead>
	<tbody id="my_tbody">
		<tr>
			<td colspan="4">검색된 데이터가 없습니다.</td>			
		</tr>
	</tbody>
</table>

<table border="1px">
	<tr>
		<td>사번</td>
		<td>
			<input type="text" id="t_id" />		
		</td>
	</tr>
	<tr>
		<td>이름</td>
		<td>
			<input type="text" id="t_name" />		
		</td>
	</tr>
	<tr>
		<td>전화</td>
		<td>
			<input type="text" id="mobile" />		
		</td>
	</tr>
	<tr>
		<td>주소</td>
		<td>
			<input type="text" id="addr" />		
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="추가" onclick="fn_add()"/>
			<input type="button" value="수정" onclick="fn_edit()"/>
			<input type="button" value="삭제" onclick="fn_delete()"/>
		</td>
	</tr>
</table>
</body>
</html>
















